@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
 }

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


nav .menu a.active {
 @apply text-blue-400
}

.btn-primary {
  @apply bg-blue-400 text-white py-2 px-4 rounded cursor-pointer
}